# Node
node_modules/
npm-debug.log
.env

# React / Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python
ai_Service/.venv/
